name: Build APK Force
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'zulu'
    
    # KITA PAKAI ACTION INI BUAT INSTALL GRADLE 8.0 SECARA MANUAL
    # JADI GAK PERLU FILE GRADLE-WRAPPER YANG SUKA ERROR
    - name: Setup Gradle
      uses: gradle/gradle-build-action@v2
      with:
        gradle-version: '8.0'
        
    - name: Build APK (Skip Lint)
      run: gradle assembleDebug --no-daemon -x lint

    - name: Upload APK
      uses: actions/upload-artifact@v3
      with:
        name: spam-APK
        path: app/build/outputs/apk/debug/app-debug.apk